{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends" : "airbnb",
  "rules": {
    "indent": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-trailing-spaces": [2, {
      "skipBlankLines": true
    }]
  }
}