doctype html
html(lang="en")
    head
        title= title
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        //link(rel="apple-touch-icon", href="/extra/apple-touch-icon.png")
        //link(rel="icon", href="/extra/favicon_new.png")
        //link(rel="stylesheet", type="text/css", href="/static/styles.css")
    body
        div#root!= html
        script(type='text/javascript').
            //window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
        script(src="/dist/bundle.js")