$mobile-sml-media: "only screen and (max-device-width: 790px), (max-width: 790px)";
$mobile-lrg-media: "min-device-width: 790px";

// COLORS
$primary-red: #ec5d59;
//$primary-red: #E73A46;
$primary-blue: #267eae;
$primary-green: #53b974;

$loading-modal-base-color: #ec615a;
//$loading-modal-base-color: #ff4e5e;

$light-blue: #59c3fb;
$hint-text-background: lighten($light-blue, 7);
$warning-color: #f39c12;

$primary-text: #666666;

$background-lightest-grey: #ecf5f7;
$background-light-grey: #e0e9eb;
$background-medium-grey: #d3d5dc;
$background-dark-grey: #b5b7bc;

$shadow-dark: #31333a;
$shadow-light: #595e69;

$foreground-lightest-grey: #c7c9cf;
$foreground-light-grey: #b1b1b1;
$foreground-dark-grey: #909090;
$foreground-darkest-grey: #76757a;
$foreground-light-red: #eb8b8e;

// Z-INDEXES

$zindex-highest: 5;
$zindex-deepest: -5;

$zindex-topbar: 3;
$zindex-main-content: 1;

// CONTENT BREAKS

$main-content-max-width: 750px;