html,
body {
  height: 100%;
  margin: 0
}

#root {
  height: 100%;
}

.layout {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  letter-spacing: 0.05em;

  display: flex;
  flex-flow: column;

  position: relative;
  width: 100%;
  height: 100%;

  img {
    margin: 1em auto 2em auto;
    max-width: 100%;
    display: block;
  }

  .tabs {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .tab {
      text-align: center;
      flex-grow: 1;
      flex-basis: 50%;
      font-size: 1.5em;
      padding: 0.8em;
      color: darken($primary-light-blue, 25);
      background: lighten($primary-light-blue, 11);
      cursor: pointer;
      user-select: none;
      font-weight: lighter;

      transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

      &.selected {
        background: $primary-light-blue;
        color: $primary-text;
      }
    }
  }

  .content {
    background: $primary-light-blue;
    background: linear-gradient(to bottom, $primary-light-blue, darken($primary-light-blue, 20));
    flex-grow: 1;
    min-height: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.counter {
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 4px darken($primary-light-blue, 30);
}